<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >Enregistrer
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancel()"
          >Annuler
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nom</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image">URL Image</label>
            <input
              type="file"
              id="image"
              (change)="uploadFile($event)"
              class="form-control"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imageView" style="width: 100%;">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                rows="6"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <!--<div-->
              <!--class="row"-->
              <!--*ngFor="let ingredientCtrl of getControls(); let i = index"-->
              <!--[formGroupName]="i"-->
              <!--style="margin-top: 10px;">-->
              <!--<div class="col-xs-8">-->
                <!--<input-->
                  <!--type="text"-->
                  <!--class="form-control"-->
                  <!--formControlName="name"-->
                <!--&gt;-->
              <!--</div>-->
              <!--<div class="col-xs-2">-->
                <!--<input-->
                  <!--type="string"-->
                  <!--class="form-control"-->
                  <!--formControlName="amount"-->
                <!--&gt;-->
              <!--</div>-->
              <!--<div class="col-xs-2">-->
                <!--<button-->
                  <!--type="button"-->
                  <!--class="btn btn-danger"-->
                  <!--(click)="onDeleteIngredient(i)">-->
                  <!--X-->
                <!--</button>-->
              <!--</div>-->
            <!--</div>-->
            <hr>
            <app-ingredient-list></app-ingredient-list>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

