<div class="row">
  <div class="col-xs-12">
    <img
      [src]="image"
      alt="{{(recipeState | async).recipes[id].name}}"
      class="img-responsive"
      style="max-height: 300px;"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{(recipeState | async).recipes[id].name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <ng-template [ngIf]="(authState | async ).authenticated">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">Editer la recette <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddToShoppingList()" style="cursor: pointer;"> Ajouter les ingrédients à la liste de courses</a>

            <a style="cursor: pointer;" (click)="onEditRecipe()"> Editer la recette</a>
            <a style="cursor: pointer;" (click)="onDeleteRecipe()"> Supprimer la recette</a>

        </li>
      </ul>
      </ng-template>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{(recipeState | async).recipes[id].description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients"
      >
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
    <ng-template [ngIf]="!(authState | async ).authenticated">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle" (click)="onAddToShoppingList()" style="cursor: pointer;">Ajouter les ingrédients à la liste de courses</button>
    </ng-template>
  </div>
</div>
