<div class="row">
  <div class="col-xs-10">
    <app-ingredient-edit></app-ingredient-edit>
    <hr>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Catégorie</th>
      </tr>
      </thead>
      <tbody>
      <tr style="cursor: pointer;"
          [@list1]
          *ngFor="let ingredient of (ingredientList | async);
         let i = index"
          (click)="onEditItem(ingredient.id)"
          [ngClass]="{'info': (editedIngredient && (ingredient.id === editedIngredient)) }"
      >
        <td>
          {{ingredient.name}}
        </td>
        <td>
          {{IngredientCategories[ingredient.category]}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
