<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Livre de recettes</a>
    </div>

    <div class="collaps navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/{{routerPathnames.RECIPES}}">Recettes</a></li>
        <li routerLinkActive="active"><a routerLink="/{{routerPathnames.SHOPPING_LIST}}">Liste de courses</a></li>
        <li routerLinkActive="active"><a routerLink="/{{routerPathnames.INGREDIENT_LIST}}">Liste des ingrédients</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!(authState | async).authenticated">
          <li><a routerLink="/{{routerPathnames.AUTH}}/{{routerPathnames.SIGNUP}}">Créer un compte</a></li>
          <li><a routerLink="/{{routerPathnames.AUTH}}/{{routerPathnames.SIGNIN}}">Se connecter</a></li>
        </ng-template>

        <ng-template [ngIf]="(authState | async).authenticated">
          <li><a style="cursor: pointer" (click)="onLogout()">Se déconnecter</a></li>
          <li appDropdown class="dropdown">
            <a style="cursor: pointer;" class="dropdown-toggle" role="button">Gestion des données <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a style="cursor: pointer;" (click)="onSaveData()"> Sauvegarder les données</a>
                <a style="cursor: pointer;" (click)="onFetchData()"> Importer des données</a>
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
