<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(ingF)" #ingF="ngForm">
      <div class="row">
        <div class="col-xs-6 form-group">
          <label for="ingredientName">Nom</label>
          <input
            [(ngModel)]="ingredientName"
            (input)="!editMode && filterByName(ingredientName, ingredientCategory)"
            placeholder="nom de l'ingrédient"
            type="text"
            name="ingredientName"
            class="form-control"
            id="ingredientName">
        </div>
        <div class="col-xs-6">
          <label for="ingredientCategory">Catégorie</label>
          <select
            [(ngModel)]="ingredientCategory"
            name="ingredientCategory"
            class="form-control"
            id="ingredientCategory"
            (change)="!editMode && filterByCategory(ingredientName, ingredientCategory)"
          >
            <option [ngValue]="null"
                    style="background-color: lightgray;
                  font-style: italic"
                    [selected]="isSelected"
            >
              Toutes les catégories
            </option>
            <option
              *ngFor="let ingredientCategory of IngredientCategories.values()"
              [ngValue]="IngredientCategories[ingredientCategory]"
            >{{ ingredientCategory }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!ingF.valid"
          >{{editMode ? 'Editer' : 'Ajouter'}}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >Supprimer
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClear()"
          >Annuler
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
